## Question 3: Data Mining the Bible

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import string
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
import time

In [12]:
bibleoriginal = pd.read_csv("http://www.webpages.uidaho.edu/~stevel/Datasets/bible_asv.csv")

## Data Preprocessing

In [48]:
bible = bibleoriginal
bible['text'] = bible['text'].str.lower()
bible['text'] = bible['text'].str.replace('[^\w\s]','')
bible['text'] = bible['text'].str.replace('\d+', '')
biblebooks = bible
for n in range(len(biblebooks)):
biblebooks['text'][0] += ' ' + biblebooks['text'][1]
biblebooks = biblebooks.drop([1])
biblebooks
    
#tf-idf
#first we create vector using only 100 words and removing useless stop words
#vector = TfidfVectorizer(stop_words='english', max_features=100)
#bible = pd.DataFrame(vector.fit_transform(bible).toarray(), columns = vector.get_feature_names())
#bible

/Users/rohit1/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,field,Testaments,Sections,Books,Chapters,Verses,text
0,1,1001001,OT,Law,gen,gen_1,gen_1:1,in the beginning god created the heavens and t...
2,3,1001003,OT,Law,gen,gen_1,gen_1:3,and god said let there be light and there was ...
3,4,1001004,OT,Law,gen,gen_1,gen_1:4,and god saw the light that it was good and god...
4,5,1001005,OT,Law,gen,gen_1,gen_1:5,and god called the light day and the darkness ...
5,6,1001006,OT,Law,gen,gen_1,gen_1:6,and god said let there be a firmament in the m...
6,7,1001007,OT,Law,gen,gen_1,gen_1:7,and god made the firmament and divided the wat...
7,8,1001008,OT,Law,gen,gen_1,gen_1:8,and god called the firmament heaven and there ...
8,9,1001009,OT,Law,gen,gen_1,gen_1:9,and god said let the waters under the heavens ...
9,10,1001010,OT,Law,gen,gen_1,gen_1:10,and god called the dry land earth and the gath...
10,11,1001011,OT,Law,gen,gen_1,gen_1:11,and god said let the earth put forth grass her...
11,12,1001012,OT,Law,gen,gen_1,gen_1:12,and the earth brought forth grass herbs yieldi...
12,13,1001013,OT,Law,gen,gen_1,gen_1:13,and there was evening and there was morning a ...
13,14,1001014,OT,Law,gen,gen_1,gen_1:14,and god said let there be lights in the firmam...
14,15,1001015,OT,Law,gen,gen_1,gen_1:15,and let them be for lights in the firmament of...
15,16,1001016,OT,Law,gen,gen_1,gen_1:16,and god made the two great lights the greater ...
16,17,1001017,OT,Law,gen,gen_1,gen_1:17,and god set them in the firmament of heaven to...
17,18,1001018,OT,Law,gen,gen_1,gen_1:18,and to rule over the day and over the night an...
18,19,1001019,OT,Law,gen,gen_1,gen_1:19,and there was evening and there was morning a ...
19,20,1001020,OT,Law,gen,gen_1,gen_1:20,and god said let the waters swarm with swarms ...
20,21,1001021,OT,Law,gen,gen_1,gen_1:21,and god created the great seamonsters and ever...
21,22,1001022,OT,Law,gen,gen_1,gen_1:22,and god blessed them saying be fruitful and mu...
22,23,1001023,OT,Law,gen,gen_1,gen_1:23,and there was evening and there was morning a ...
23,24,1001024,OT,Law,gen,gen_1,gen_1:24,and god said let the earth bring forth living ...
24,25,1001025,OT,Law,gen,gen_1,gen_1:25,and god made the beasts of the earth after the...
25,26,1001026,OT,Law,gen,gen_1,gen_1:26,and god said let us make man in our image afte...
26,27,1001027,OT,Law,gen,gen_1,gen_1:27,and god created man in his own image in the im...
27,28,1001028,OT,Law,gen,gen_1,gen_1:28,and god blessed them and god said unto them be...
28,29,1001029,OT,Law,gen,gen_1,gen_1:29,and god said behold i have given you every her...
29,30,1001030,OT,Law,gen,gen_1,gen_1:30,and to every beast of the earth and to every b...
30,31,1001031,OT,Law,gen,gen_1,gen_1:31,and god saw everything that he had made and be...
...,...,...,...,...,...,...,...,...
31073,31074,66021019,NT,Apostles,rev,rev_21,rev_21:19,the foundations of the wall of the city were a...
31074,31075,66021020,NT,Apostles,rev,rev_21,rev_21:20,the fifth sardonyx the sixth sardius the seven...
31075,31076,66021021,NT,Apostles,rev,rev_21,rev_21:21,and the twelve gates were twelve pearls each o...
31076,31077,66021022,NT,Apostles,rev,rev_21,rev_21:22,and i saw no temple therein for the lord god t...
31077,31078,66021023,NT,Apostles,rev,rev_21,rev_21:23,and the city hath no need of the sun neither o...
31078,31079,66021024,NT,Apostles,rev,rev_21,rev_21:24,and the nations shall walk amidst the light th...
31079,31080,66021025,NT,Apostles,rev,rev_21,rev_21:25,and the gates thereof shall in no wise be shut...
31080,31081,66021026,NT,Apostles,rev,rev_21,rev_21:26,and they shall bring the glory and the honor o...
31081,31082,66021027,NT,Apostles,rev,rev_21,rev_21:27,and there shall in no wise enter into it anyth...
31082,31083,66022001,NT,Apostles,rev,rev_22,rev_22:1,and he showed me a river of water of life brig...
31083,31084,66022002,NT,Apostles,rev,rev_22,rev_22:2,in the midst of the street thereof and on this...
31084,31085,66022003,NT,Apostles,rev,rev_22,rev_22:3,and there shall be no curse any more and the t...
31085,31086,66022004,NT,Apostles,rev,rev_22,rev_22:4,and they shall see his face and his name shall...
31086,31087,66022005,NT,Apostles,rev,rev_22,rev_22:5,and there shall be night no more and they need...
31087,31088,66022006,NT,Apostles,rev,rev_22,rev_22:6,and he said unto me these words are faithful a...
31088,31089,66022007,NT,Apostles,rev,rev_22,rev_22:7,and behold i come quickly blessed is he that k...
31089,31090,66022008,NT,Apostles,rev,rev_22,rev_22:8,and i john am he that heard and saw these thin...
31090,31091,66022009,NT,Apostles,rev,rev_22,rev_22:9,and he saith unto me see thou do it not i am a...
31091,31092,66022010,NT,Apostles,rev,rev_22,rev_22:10,and he saith unto me seal not up the words of ...
31092,31093,66022011,NT,Apostles,rev,rev_22,rev_22:11,he that is unrighteous let him do unrighteousn...
31093,31094,66022012,NT,Apostles,rev,rev_22,rev_22:12,behold i come quickly and my reward is with me...
31094,31095,66022013,NT,Apostles,rev,rev_22,rev_22:13,i am the alpha and the omega the first and the...
31095,31096,66022014,NT,Apostles,rev,rev_22,rev_22:14,blessed are they that wash their robes that th...
31096,31097,66022015,NT,Apostles,rev,rev_22,rev_22:15,without are the dogs and the sorcerers and the...
31097,31098,66022016,NT,Apostles,rev,rev_22,rev_22:16,i jesus have sent mine angel to testify unto y...
31098,31099,66022017,NT,Apostles,rev,rev_22,rev_22:17,and the spirit and the bride say come and he t...
31099,31100,66022018,NT,Apostles,rev,rev_22,rev_22:18,i testify unto every man that heareth the word...
31100,31101,66022019,NT,Apostles,rev,rev_22,rev_22:19,and if any man shall take away from the words ...
31101,31102,66022020,NT,Apostles,rev,rev_22,rev_22:20,he who testifieth these things saith yea i com...
31102,31103,66022021,NT,Apostles,rev,rev_22,rev_22:21,the grace of the lord jesus be with the saints...

## Preliminary Visualization

In [ ]:
# preprocessing

#get rid of useless columns
salary = salary.drop(['LocationRaw', 'SalaryRaw', 'SourceName'], axis=1)

#this loop does preprocessing on columns that are strings
for n in salary.columns:
    if salary[n].dtype == 'object':
        salary[n] = salary[n].str.lower()
        salary[n] = salary[n].str.strip()

#replace null values with the mode (most frequent occurence in the feature)
salary['Title'].fillna(value=salary['Title'].value_counts().axes[0][0], inplace=True)
salary['ContractType'].fillna(value=salary['ContractType'].value_counts().axes[0][0], inplace=True)
salary['ContractTime'].fillna(value=salary['ContractTime'].value_counts().axes[0][0], inplace=True)
salary['Company'].fillna(value=salary['Company'].value_counts().axes[0][0], inplace=True)
print (salary.shape)

In [ ]:
#tf-idf
#first we create vector using only 1000 words and removing useless stop words
#we just consider words that matter to the target variable (salary)
vector = TfidfVectorizer(stop_words='english', max_features=1000)
titleVectorized = pd.DataFrame(vector.fit_transform(salary.Title).toarray(), columns = vector.get_feature_names())
descriptionVectorized = pd.DataFrame(vector.fit_transform(salary.FullDescription).toarray(), columns = vector.get_feature_names())
companyVectorized = pd.DataFrame(vector.fit_transform(salary.Company).toarray(), columns = vector.get_feature_names())
categoryVectorized = pd.DataFrame(vector.fit_transform(salary.Category).toarray(), columns = vector.get_feature_names())
#salary = salary.drop('FullDescription', axis=1)
salary = pd.concat([salary.drop(['Title','FullDescription','Company','Category'], axis=1), titleVectorized,descriptionVectorized,companyVectorized,categoryVectorized], axis=1)
print (salary.shape)

In [ ]:
#preprocess categorical features
#salary = pd.get_dummies(salary, columns=['Title', 'LocationNormalized', 'ContractTime', 'ContractType', 'Company', 'Category'], prefix=['Title', 'LocationNormalized', 'ContractTime', 'ContractType', 'Company', 'Category'])
salary = pd.get_dummies(salary, columns=['LocationNormalized', 'ContractTime', 'ContractType'], prefix=['LocationNormalized', 'ContractTime', 'ContractType'])
print (salary.shape)

## Training and Testing Models

In [ ]:
#split dataset into training and testing 80% 20%
X = salary.drop('SalaryNormalized', axis=1)
Y = salary.SalaryNormalized
pca = PCA(n_components=1000)
pca.fit(X)
X = pca.transform(X)
xTrain, xTest, yTrain, yTest = train_test_split(X, Y, random_state=int(time.time()), test_size=0.20)

## Linear Regression

In [ ]:
lr = LinearRegression().fit(xTrain, yTrain)

#print("lr.coef_:", lr.coef_)
#print("lr.intercept_:", lr.intercept_)

print("Training set score: {:.2f}".format(lr.score(xTrain, yTrain)))
print("Test set score: {:.2f}".format(lr.score(xTest, yTest)))

## Ridge Regression

In [ ]:
ridge = Ridge().fit(xTrain, yTrain)
print("Training set score: {:.2f}".format(ridge.score(xTrain, yTrain)))
print("Test set score: {:.2f}".format(ridge.score(xTest, yTest)))

## Decision Trees

In [ ]:
tree1 = DecisionTreeRegressor(max_depth=5).fit(xTrain, yTrain)
tree2 = DecisionTreeRegressor(max_depth=10).fit(xTrain, yTrain)
print ("Tree of depth 5 Training set score: {:.2f}".format(tree1.score(xTrain, yTrain)))
print ("Tree of depth 5 Test set score: {:.2f}".format(tree1.score(xTest, yTest)))
print ("Tree of depth 10 Training set score: {:.2f}".format(tree2.score(xTrain, yTrain)))
print ("Tree of depth 10 Test set score: {:.2f}".format(tree2.score(xTest, yTest)))
#higher depth means overfitting to the training data and lower accuracy on the testing data

## K-Nearest Neighbors

In [ ]:
for n in range(2,12):
    # this loop tries number of neighbors from 2 to 11
    knn = KNeighborsRegressor(n_neighbors=n)
    # KNN with 6 neighbors was found to be the most accurate in general
    knn.fit(xTrain, yTrain)
    print ("Training set score with " + str(n) + " neighbors: {:.2f}".format(knn.score(xTrain, yTrain)))
    print ("Test set score with " + str(n) + " neighbors: {:.2f}".format(knn.score(xTest, yTest)))

## Gradient Boosted Regression

In [ ]:
gbr = GradientBoostingRegressor()
gbr.fit(xTrain, yTrain)
print("Training set score: {:.3f}".format(gbr.score(xTrain, yTrain)))
print("Test set score: {:.3f}".format(gbr.score(xTest, yTest)))

## Conclusions